{% extends 'base.html' %}

{% block montitre %}
debut de mes mots: hello
{% endblock %}
{% block content %}
<h1># i18n-time-traveler</h1>
{% for x in users | reverse %}
 <li>{{ x["first_name"]  }}</li>

{% endfor %} 
fin de mes mots : partage ce que tu veux sur le thème de la musique ou un autre thème
{% endblock %}
{% block liens %}
<a href="/">welcome</a>
{% endblock %}
<a href="/add_one_science"> add one science</a><a href="/add_one_user"> add one user</a><a href="/add_one_country"> add one country</a><a href="/add_one_language"> add one language</a><a href="/add_one_post"> add one post</a>